html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300
}

body {
    margin: 0px
}

a {
    text-decoration: none;
    color: #683b00;
    background: #f7af5d;
    border-radius: 7px;
    transition: none;
    display: inline-block;
    padding: 3px 11px;
    margin-bottom: 25px;
    margin-right: 6px;
    position: relative;
    z-index: 5;
    border: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 120%;
}

a:hover {
    color: rgb(255, 255, 255);
}

main {
    text-align: center;
}

footer {
    text-align: center;
    display: block;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.picture_logo {
    width: 85%;
    margin: auto;
    text-align: right;
}

.picture_logo img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 5%;
}

.centr_logo {
    text-align: center;
    color: #f7af5d;
    font-size: 50px;
    
}

.navigation {
    background-color: rgb(0, 0, 0);
    color: black;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%; 
    margin: 0;
    padding: 0;
}



.buttons {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}



.social_media{
    color: white;
}